* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    background: url(images/Restaurante-header3.jpg);
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
}


section {
    min-width: 1000px;
    margin: auto;
    padding: 30px 0;
}

section h1 {
    font-size: 44px;
}

.conte {
    display: flex;
    justify-content: space-around;
}

.conte p {
    font-size: 60px;
    font-weight: bold;
    margin: 1em 0;
}

.conte a {
    color: white;
    text-decoration: none;
    background: black;

}

div.tarjeta {
    width: 250px;
    margin: 0 auto;
    text-align: center;
}

div.album {
    width: 240px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 8px 24px 0 rgba(0, 0, 0, 0.19);
    text-align: center;

}

div.contenido {
    padding: 1px;
}

p.letra {
    color: blue;
    padding: 1px;
    font-size: 25px;
}

table.cartas {
    padding: 40px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    background-color: black;
    padding: 10px;
}

nav ul li a {
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

.login {
    color: white;
    padding: 25px;
    width: 150px;
    text-align: center;
    border-radius: 80px;
    background: linear-gradient(0deg, black, #9E9E9E);
}

.login a {
    color: white;
}

.Parrafo {
    border: solid #000 4px;
    border-radius: 40px;
    align-items: center;
    width: 540px;
    padding: 60px;
    align-content: center;
    margin: 0 auto;
}

.pie-de-pagina {
    width: 100%;
    background-color: rgb(209, 170, 177);
}

.pie-de-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-de-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-de-pagina .grupo-1 .box figure img {
    width: 250px;
}

.pie-de-pagina .grupo-1 .box h2 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-de-pagina .grupo-1 .box p {
    color: #fff;
    margin-bottom: 10px;
}

.pie-de-pagina .grupo-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    text-align: center;
}

.pie-de-pagina .grupo-1 .red-social a:hover {
    color: aqua;
    margin: 0 auto;
}

.pie-de-pagina .grupo-2 {
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.pie-de-pagina .grupo-2 small{
    font-size: 15px;
}
